@import "../../App.scss";

.Header {
    display: flex;
    justify-content: flex-end;
    color: var(--White);
    margin-top: 1px;
    height: 742px;
    background: url(./Images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 8rem;
        text-shadow: 0px 4px 4px #00000040;
        margin-top: 4.5rem;
        margin-right: 4.5rem;
    }

    p {
        margin: 0 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .Header {
        display: none;
        // align-items: center;
        height: 250px;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 4rem;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 768px ) {
    .Header {
        height: 200px;
        width: 100%;
        text-align: center;
        justify-content: center;
        // align-items: center;

        h1 {
            font-size: 4rem;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }
}